<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body style="background-image: url();">     <!--In case we want a background image-->
    <div class="inline">

        <!--Sidebar an menu of the page-->
        <aside id="default-sidebar"
            class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
            aria-label="Sidebar">
            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800 dark:bg-gray-800">
                <ul class="space-y-4 font-medium">
                    <li>
                        <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logo.png" alt="">
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="userProfile.html" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-100 dark:hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Iniciar sesión</div>
                            <div><img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logIn.png" 
                            style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="shoppingKart.html" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-100 dark:hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Carrito de compras</div>
                            <div><img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/shoppingKart.png" 
                            style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-100 dark:hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Preguntas frecuentes</div>
                            <div><img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/questionMark.png" 
                            style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-100 dark:hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Feedback</div>
                            <div><img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/feedback.png" 
                            style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        

        <!-- Products -->
        <div class="flex p-4 sm:ml-64">
            
            <!-- Focus of a product -->
            <div class="w-2/5 bg-slate-300 mr-3 p-7 rounded">
                Columna 1
            </div>

            <!-- List of products -->
            <div class="w-3/5 bg-slate-400 ml-3 p-7 rounded flex flex-col space-y-4 p-4">

                <!-- Product 1 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:max-w-xl md:flex-row">
                    <img class="w-40 flex-1 rounded-t-lg object-cover sm:h-auto md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png">
                    <div class="flex flex-col justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Card title
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            This is a wider card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>

                <!-- Product 2 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:max-w-xl md:flex-row">
                    <img class="w-40 flex-1 rounded-t-lg object-cover sm:h-auto md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png">
                    <div class="flex flex-col justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Card title
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            This is a wider card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>

                <!-- Product 3 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:max-w-xl md:flex-row">
                    <img class="w-40 flex-1 rounded-t-lg object-cover sm:h-auto md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png">
                    <div class="flex flex-col justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Card title
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            This is a wider card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>

                <!-- Product 4 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:max-w-xl md:flex-row">
                    <img class="w-40 flex-1 rounded-t-lg object-cover sm:h-auto md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png">
                    <div class="flex flex-col justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Card title
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            This is a wider card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>

                <!-- Product 5 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:max-w-xl md:flex-row">
                    <img class="w-40 flex-1 rounded-t-lg object-cover sm:h-auto md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png">
                    <div class="flex flex-col justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Card title
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            This is a wider card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>

                <!-- Product 6 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:max-w-xl md:flex-row">
                    <img class="w-40 flex-1 rounded-t-lg object-cover sm:h-auto md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png">
                    <div class="flex flex-col justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Card title
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            This is a wider card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>


            </div>

        </div>


    </div>

</body>

</html>