<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body style="background-image: url();">     <!--In case we want a background image-->
    <div class="inline">

        <!--Sidebar an menu of the page-->
        <aside id="default-sidebar"
            class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
            aria-label="Sidebar">
            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800 dark:bg-gray-800">
                <ul class="space-y-4 font-medium">
                    <li>
                        <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white hover:bg-gray-700 group">
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logo.png" alt="">
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="userProfile.html" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Iniciar sesión</div>
                            <div><img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logIn.png" 
                            style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="shoppingKart.html" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Carrito de compras</div>
                            <div><img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/shoppingKart.png" 
                            style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Preguntas frecuentes</div>
                            <div><img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/questionMark.png" 
                            style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="feedback.html" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Feedback</div>
                            <div><img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/feedback.png" 
                            style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>



        <!--Carrousel Ponemos uno? Es que no jalan XD-->
        <div class="flex p-4 sm:ml-64">
            
            <div class="w-full bg-slate-300 mr-3 p-7 rounded flex flex-row">
                <div id="default-carousel" class="relative w-full" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                        <!-- Item 1 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png"
                                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 2 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="/docs/images/carousel/carousel-2.svg"
                                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 3 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png"
                                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 4 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="/docs/images/carousel/carousel-4.svg"
                                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 5 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png"
                                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                    </div>
                    <!-- Slider indicators -->
                    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                            data-carousel-slide-to="0"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                            data-carousel-slide-to="1"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                            data-carousel-slide-to="2"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                            data-carousel-slide-to="3"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
                            data-carousel-slide-to="4"></button>
                    </div>
                    <!-- Slider controls -->
                    <button type="button"
                        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                        data-carousel-prev>
                        <span
                            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 1 1 5l4 4" />
                            </svg>
                            <span class="sr-only">Previous</span>
                        </span>
                    </button>
                    <button type="button"
                        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                        data-carousel-next>
                        <span
                            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="m1 9 4-4-4-4" />
                            </svg>
                            <span class="sr-only">Next</span>
                        </span>
                    </button>
                </div>

            </div>
            

        </div>
        
        
        <!-- Products -->
        <div class="flex p-4 sm:ml-64">

            <!-- Focus of a product -->
            <div class="w-2/5 bg-slate-300 mr-3 p-7 rounded flex flex-col">
                
                <div class="rounded overflow-hidden bg-slate-500">
                    <img class="w-full" src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/calendario.jpg" alt="Sunset in the mountains">
                    <div class="px-6 py-4 text-slate-300">
                      <div class="font-bold text-xl mb-2">Mesa para jardín barroca con acabado de piedra</div>
                      <p class=" text-base">
                        Mesa ligera y portatil, de gran utilidad en lo que respecta a exteriores, apta para cualquier tipo de 
                        evento o como simple adorno, material de gran resistencia que seguro aguantará el paso del tiempo
                      </p>
                      <br>
                      <div class="inline-flex">
                        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
                          Comprar
                        </button>
                        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
                          XD
                        </button>
                      </div>
                    </div>
                  </div>

            </div>


            <!-- List of products -->
            <div class="w-3/5 bg-slate-400 ml-3 p-6 rounded flex flex-col space-y-4">

                <div class="flex flex-col rounded-lg bg-slate-700 md:flex-row">
                    <img class="w-1/4 h-auto flex-1 rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/calendario.jpg">
                    <div class="w-3/4 justify-start p-6 text-slate-300">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Mesa para jardín barroca con acabado de piedra
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            Precio: 15
                        </p>
                    </div>
                </div>

                <!-- Product 1 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:flex-row">
                    <img class="w-1/4 h-auto flex-1 rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/fosil.jpg">
                    <div class="w-3/4 justify-start p-6 text-slate-300">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Centro de mesa abstracto vintage
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            Precio: 20
                        </p>
                    </div>
                </div>

                <!-- Product 2 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:flex-row">
                    <img class="w-1/4 h-auto flex-1 rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/macuahuitl.jpg">
                    <div class="w-3/4 justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Cuchillo para matequilla negro
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            Precio: 5
                        </p>
                    </div>
                </div>

                <!-- Product 3 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:flex-row">
                    <img class="w-1/4 h-auto flex-1 rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/moai.jpg">
                    <div class="w-3/4 justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Pisapapeles para un conglomerado de oficinas
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            Precio: 1
                        </p>
                    </div>
                </div>

                <!-- Product 4 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:flex-row">
                    <img class="w-1/4 h-auto flex-1 rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/piramide.jpg">
                    <div class="w-3/4 justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Casa de campaña familiar para climas áridos 
                        </h5>
                        <p class="mb-4 text-base text-neutral-200">
                            Precio: 50
                        </p>
                    </div>
                </div>


            </div>

        </div>



        <div class="flex p-4 sm:ml-64">
            <footer class="footer bg-slate-500 w-full bg-slate-300 mr-3 p-7 rounded flex flex-row">
                Preguntas frecuentes :v

            </footer>
        </div>



    </div>
    

    
    </body>
    
    </html>