<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>




</head>

<body>
    <div class="inline">

        <!--Sidebar an menu of the page-->
        <aside id="default-sidebar"
            class="fixed top-0 left-0 z-50 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
            aria-label="Sidebar">
            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800 dark:bg-gray-800">
                <ul class="space-y-4 font-medium">
                    <li>
                        <a href="index.html"
                            class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white hover:bg-gray-700 group">
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logo.png"
                                alt="">
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="userProfile.html" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Iniciar sesión</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logIn.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="shoppingKart.html" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Carrito de compras</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/shoppingKart.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Preguntas frecuentes</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/questionMark.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Feedback</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/feedback.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <!--Other things :v-->
        <main class="flex-1 overflow-x-hidden overflow-y-auto pl-72">
            <div class="container mx-auto mt-8 flex flex-col">
                <!-- Carrito de Compras -->
                <div class="w-full flex flex-col mr-4 relative z-10 pr-10">

                    <!-- Producto 1 -->
                    <div class="bg-slate-400 rounded p-4 shadow-md mb-4 flex justify-between items-center">
                        <!-- Contenido del Producto 1 -->
                        <div class="flex items-center">
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/macuahuitl.jpg" alt="Producto" class="mr-4 w-14 h-14 rounded">
                            <div>
                                <h2 class="text-lg font-semibold">Producto 1</h2>
                                <p class="text-gray-900">Descripción del producto 1.</p>
                            </div>
                        </div>
                        <div class="flex items-center">
                            <p class="text-gray-600 mr-4">$20.00</p>
                            <button class="text-white bg-red-600 py-2 px-4 rounded-md">Eliminar</button>
                        </div>
                    </div>

                    <!-- Producto 2 -->
                    <div class="bg-slate-400 rounded p-4 shadow-md mb-4 flex justify-between items-center">
                        <!-- Contenido del Producto 2 -->
                        <div class="flex items-center">
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/fosil.jpg" alt="Producto" class="mr-4 w-14 h-14 rounded">
                            <div>
                                <h2 class="text-lg font-semibold">Producto 2</h2>
                                <p class="text-gray-900">Descripción del producto 2.</p>
                            </div>
                        </div>
                        <div class="flex items-center">
                            <p class="text-gray-600 mr-4">$30.00</p>
                            <button class="text-white bg-red-600 py-2 px-4 rounded-md">Eliminar</button>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Resumen de Compra -->
                <div class="w-full relative z-10 flex justify-center text-gray-200">
                    <div class=" bg-slate-700 rounded p-4 shadow-md">
                        <h2 class="text-xl font-semibold mb-4">Resumen de Compra</h2>
                        <div class="flex justify-between mb-2">
                            <p class="text-gray-200">Producto 1 x 1</p>
                            <p class="text-lg font-semibold">$20.00</p>
                        </div>
                        <div class="flex justify-between mb-2">
                            <p class="text-gray-200">Producto 2 x 3</p>
                            <p class="text-lg font-semibold">$90.00</p>
                        </div>
                        <br><div class="flex justify-between mb-2 text-xl">
                            <p class="text-gray-200">Total:</p>
                            <p class="text-lg font-semibold">$50.00</p>
                        </div>
                        <div class=" flex items-center justify-center">
                            <button class="bg-green-500 text-black py-2 px-4 rounded-md">Realizar Compra</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>