<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>


</head>

<body>

    <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
        <div class="relative p-4 w-full max-w-lg max-h-full dark:bg-gray-700">
            <!-- Modal content -->
            <div class="relative bg-gray-50 shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Compartir feedback
                    </h3>

                </div>
                <!-- Modal body -->
                <form action="#" class="p-4 md:p-5">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div class="col-span-2">
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                            <input type="text" name="name" id="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Nombre de usuario" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="description"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Feedback</label>
                            <textarea id="description" rows="4"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Queja, chiste o sugerencia"></textarea>
                        </div>
                    </div>

                </form>
                <div class="flex justify-center items-center p-4">
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn text-white bg-red-600 py-2 px-4 rounded-md">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </dialog>

    <div class="inline">

        <!--Sidebar an menu of the page-->
        <aside id="default-sidebar"
            class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
            aria-label="Sidebar">
            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800 dark:bg-gray-800">
                <ul class="space-y-4 font-medium">
                    <li>
                        <a href="index.html"
                            class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white hover:bg-gray-700 group">
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logo.png"
                                alt="">
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="userProfile.html" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Iniciar sesión</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logIn.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="shoppingKart.html" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Carrito de compras</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/shoppingKart.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="index.html#FAQ" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Preguntas frecuentes</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/questionMark.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>

                        <button id="openFeedbackModal"
                            class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white hover:bg-gray-700 group grid grid-cols-2 ml-2 w-full"
                            onclick="document.getElementById('my_modal_5').showModal()">
                            <div class="justify-self-start text-lg text-slate-300">Feedback</div>
                            <div>
                                <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/feedback.png"
                                    style="max-height: 60px;" class="float-right mr-3">
                            </div>
                        </button>

                    </li>
                </ul>
            </div>
        </aside>

        <!--Other things :v-->
        <div class="flex p-4 sm:ml-64 rounded">

            <!-- Profile -->
            <div class="w-2/5 bg-slate-400 mr-3 p-7 h-[calc(100vh/1.1)] flex flex-col rounded">
                <div class="bg-slate-400 h-2/6 flex flex-col items-center justify-center rounded-sm overflow-hidden pt-4">
                    <div class="bg-gray-200 rounded-full overflow-hidden mb-5 items-center justify-center">
                        <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/pruwufilePic.png"
                            alt="Descripción de la imagen" class="h-auto max-h-full rounded-full">
                    </div>
                </div>
                <div class="bg-slate-600 h-4/6 flex flex-col items-center mt-5 pt-10 rounded">
                    <h1 class="text-3xl text-gray-200"><b>Jaimito_52</b></h1> <br>
                    <p class="text-lg text-gray-200"><b>Correo:</b> jaimito.correo@gmail.com</p>
                    <p class="text-lg text-gray-200"><b>Teléfono:</b> 33 323522</p> <br>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded bottom-0">
                        Actualizar datos
                    </button>
                    <p class="p-2"></p>
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded bottom-0">
                        Cerrar sesión
                    </button>
                </div>                
            </div>

            <!-- History -->
            <div class="w-3/5 bg-slate-400 ml-3 p-6 rounded flex flex-col space-y-4">

                <div class="flex flex-col rounded-lg md:flex-row text-3xl justify-center font-semibold">
                    <h1>Inventario de productos disponibles</h1>
                </div><br>

                <div class="flex flex-col rounded-lg bg-slate-700 md:flex-row h-fit">
                    <img class="w-1/4 h-auto flex-1 rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/calendario.jpg">
                    <div class="w-3/4 justify-start p-6 text-slate-300">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Mesa para jardín barroca con acabado de piedra
                        </h5>
                        <div class="flex rounded-lg shadow-sm">
                            <input type="number" id="hs-trailing-button-add-on-multiple-add-ons"
                                name="hs-trailing-button-add-on-multiple-add-ons"
                                class="py-3 px-4 block w-1/2 border-gray-200 shadow-sm rounded-s-md text-sm focus:z-10 focus:border-blue-500 focus:z-10 focus:ring-blue-500 text-gray-900 bg-gray-300">
                            <button type="button"
                                class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-blue-500 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                Modificar
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Product 2 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:flex-row">
                    <img class="w-1/4 h-auto flex-1 rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/macuahuitl.jpg">
                    <div class="w-3/4 justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Cuchillo para matequilla negro
                        </h5>
                        <div class="flex rounded-lg shadow-sm">
                            <input type="number" id="hs-trailing-button-add-on-multiple-add-ons"
                                name="hs-trailing-button-add-on-multiple-add-ons"
                                class="py-3 px-4 block w-1/2 border-gray-200 shadow-sm rounded-s-md text-sm focus:z-10 focus:border-blue-500 focus:z-10 focus:ring-blue-500 text-gray-900 bg-gray-300">
                            <button type="button"
                                class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-blue-500 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                Modificar
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Product 3 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:flex-row">
                    <img class="w-1/4 h-auto flex-1 rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/moai.jpg">
                    <div class="w-3/4 justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Pisapapeles para un conglomerado de oficinas
                        </h5>
                        <div class="flex rounded-lg shadow-sm">
                            <input type="number" id="hs-trailing-button-add-on-multiple-add-ons"
                                name="hs-trailing-button-add-on-multiple-add-ons"
                                class="py-3 px-4 block w-1/2 border-gray-200 shadow-sm rounded-s-md text-sm focus:z-10 focus:border-blue-500 focus:z-10 focus:ring-blue-500 text-gray-900 bg-gray-300">
                            <button type="button"
                                class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-blue-500 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                Modificar
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Product 4 -->
                <div class="flex flex-col rounded-lg bg-slate-700 md:flex-row">
                    <img class="w-1/4 h-auto flex-1 rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
                        src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/products/piramide.jpg">
                    <div class="w-3/4 justify-start p-6">
                        <h5 class="mb-2 text-xl font-medium text-neutral-50">
                            Casa de campaña familiar para climas áridos
                        </h5>
                        <div class="flex rounded-lg shadow-sm">
                            <input type="number" id="hs-trailing-button-add-on-multiple-add-ons"
                                name="hs-trailing-button-add-on-multiple-add-ons"
                                class="py-3 px-4 block w-1/2 border-gray-200 shadow-sm rounded-s-md text-sm focus:z-10 focus:border-blue-500 focus:z-10 focus:ring-blue-500 text-gray-900 bg-gray-300">
                            <button type="button"
                                class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-blue-500 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                Modificar
                            </button>
                        </div>
                    </div>
                </div>

        </div>
        
    </div>

</body>

</html>