<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>




</head>

<body
    style="background-image: url(https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/tiles.jpg);">
    <div class="inline">

        <dialog id="feedbackImage" class="modal modal-bottom sm:modal-middle">
            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png" alt=""
                class="w-full max-w-lg max-h-full">
        </dialog>

        <dialog id="feedbackModal" class="modal modal-bottom sm:modal-middle">
            <div class="relative p-4 w-full max-w-lg max-h-full bg-gray-700">
                <!-- Modal content -->
                <div class="relative bg-gray-50 shadow bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b border-gray-600">
                        <h3 class="text-lg font-semibold text-gray-900 text-white">
                            Compartir feedback
                        </h3>

                    </div>
                    <!-- Modal body -->
                    <form action="#" class="p-4 md:p-5">
                        <div class="grid gap-4 mb-4 grid-cols-2">
                            <div class="col-span-2">
                                <label for="name"
                                    class="block mb-2 text-sm font-medium text-gray-900 text-white">Nombre</label>
                                <input type="text" name="name" id="name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500"
                                    placeholder="Nombre de usuario" required="">
                            </div>
                            <div class="col-span-2">
                                <label for="description"
                                    class="block mb-2 text-sm font-medium text-gray-900 text-white">Feedback</label>
                                <textarea id="description" rows="4"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 bg-gray-600 border-gray-500 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                                    placeholder="Queja, chiste o sugerencia"></textarea>
                            </div>
                        </div>

                    </form>
                    <div class="flex justify-center items-center p-4">
                        <form method="dialog">
                            <!-- if there is a button in form, it will close the modal -->
                            <button class="btn text-white bg-red-600 py-2 px-4 rounded-md"
                                onclick="document.getElementById('feedbackImage').showModal()">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </dialog>

        <!--Sidebar an menu of the page-->
        <aside id="default-sidebar"
            class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
            aria-label="Sidebar">
            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800 dark:bg-gray-800">
                <ul class="space-y-4 font-medium">
                    <li>
                        <a href="/home"
                            class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white hover:bg-gray-700 group">
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logo.png"
                                alt="">
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="/user_profile" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Iniciar sesión</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logIn.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="/shopping_cart" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Carrito de compras</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/shoppingKart.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="/home#FAQ" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Preguntas frecuentes</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/questionMark.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>

                        <button id="openFeedbackModal"
                            class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white hover:bg-gray-700 group grid grid-cols-2 ml-2 w-full"
                            onclick="document.getElementById('feedbackModal').showModal()">
                            <div class="justify-self-start text-lg text-slate-300">Feedback</div>
                            <div>
                                <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/feedback.png"
                                    style="max-height: 60px;" class="float-right mr-3">
                            </div>
                        </button>

                    </li>
                </ul>
            </div>
        </aside>

        <!--Other things :v-->
        <main class="flex-1 overflow-x-hidden overflow-y-auto pl-72">
            <div class="container mx-auto mt-8 flex flex-col">
                <!-- Carrito de Compras -->
                <div class="w-full flex flex-col mr-4 relative z-10 pr-10" id="mainCart">
                </div>
            </div>

            <!-- Resumen de Compra -->
            <div class="w-full relative z-10 flex justify-center text-gray-200" id="summaryCard">
            </div>

    </div>
    </main>
    </div>

</body>
<script src="../scripts/shoppingCart.js"></script>
</html>