<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>


</head>

<body
    style="background-image: url(https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/tiles.jpg);">

    <dialog id="modifyProducts" class="modal modal-bottom sm:modal-middle">
        <form action="" class="relative p-4 w-full max-w-lg max-h-full bg-slate-400">
            <div class="flex flex-col">
                <div class="flex flex-col p-2">
                    <label for="">Nombre:</label>
                    <input type="text" placeholder="nombre" value="nombre" class="text-gray-400" id="ModifiedName">
                </div>
                <div class="flex flex-col p-2">
                    <label for="">Descripcion:</label>
                    <input type="text" placeholder="descripcion" value="descripcion" class="text-gray-400" id="ModifiedDesc">
                </div>
                <div class="flex flex-col p-2">
                    <label for="">Imagen:</label>
                    <input type="text" placeholder="imagen" value="imagen" class="text-gray-400" id="ModifiedImg">
                </div>
                <div class="flex flex-col p-2">
                    <label for="">Precio:</label>
                    <input type="number" placeholder="precio" value="precio" class="text-gray-400" id="ModifiedPrice">
                </div>
                <div class="flex flex-col p-2 mb-2">
                    <label for="">Stock:</label>
                    <input type="number" placeholder="stock" value="stock" class="text-gray-400" id="ModifiedStock">
                </div>
                <button type="submit" class="btn text-white bg-blue-600 py-2 px-4 rounded-md mb-2"
                    id="modifyP">Aceptar</button>
                <button class="btn text-white bg-red-600 py-2 px-4 rounded-md">Close</button>
            </div>
        </form>
    </dialog> <!---->

    <dialog id="modifyUser" class="modal modal-bottom sm:modal-middle">
        <form action="" class="relative p-4 w-full max-w-lg max-h-full bg-slate-400">
            <div class="flex flex-col">
                <div class="flex flex-col p-2">
                    <label for="">Nombre de usuario:</label>
                    <input type="text" placeholder="nombre usuario" value="nombre usuario" class="text-gray-400" id="ModifiedUsername">
                </div>
                <div class="flex flex-col p-2">
                    <label for="">contraseña:</label>
                    <input type="text" placeholder="contraseña" value="contraseña" class="text-gray-400" id="ModifiedPass">
                </div>
                <div class="flex flex-col p-2">
                    <label for="">correo:</label>
                    <input type="text" placeholder="correo" value="correo" class="text-gray-400" id="ModifiedEmail">
                </div>
                <!-- <div class="flex flex-col p-2 mb-2">
                    <label for="">número de teléfono:</label>
                    <input type="number" placeholder="Phone Number" id="ModifiedPhoneNum">
                </div> -->
                <div x-data="{ num: 0 }"
                    class="flex flex-col items-center justify-between p-2 md:p-2 border-b border-gray-600">
                    <label for="num" x-text="`Seleccione su número de teléfono: ` + num" class="pb-2"></label>
                    <input type="range" min="1000000000" name="num" max="9999999999" x-model="num"
                        class="w-full h-2 bg-blue-100 appearance-none" id="ModifiedPhoneNum" />
                </div>
                <button type="submit" class="btn text-white bg-red-600 py-2 px-4 rounded-md mb-2"
                    id="modifyU">Aceptar</button>
                <button class="btn text-white bg-blue-600 py-2 px-4 rounded-md">Close</button>
            </div>
        </form>
    </dialog>

    <dialog id="deleteProducts" class="modal modal-bottom sm:modal-middle">
        <div class="relative p-4 w-full max-w-lg max-h-full bg-gray-700">
            <!-- Modal content -->
            <div class="relative bg-gray-50 shadow bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 text-white">
                        Seguro que deseas Eliminar el producto?
                    </h3>

                </div>
                <div class="flex justify-center items-center p-4">
                    <form method="dialog" class="flex justify-around">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn text-white bg-red-600 py-2 px-4 rounded-md flex"
                            id="deleteP">Eliminar</button>
                        <button class="btn text-white bg-green-600 py-2 px-4 rounded-md flex"
                            onclick="document.getElementById('deleteProducts').showModal()">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </dialog> <!---->

    <dialog id="closeSession" class="modal modal-bottom sm:modal-middle">
        <div class="relative p-4 w-full max-w-lg max-h-full bg-gray-700">
            <!-- Modal content -->
            <div class="relative bg-gray-50 shadow bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 text-white">
                        Seguro que deseas cerrar sesión?
                    </h3>

                </div>
                <div class="flex justify-center items-center p-4">
                    <form method="dialog" class="flex justify-around">
                        <!-- if there is a button in form, it will close the modal -->
                        <button id="closeS"
                            class="btn text-white bg-red-600 py-2 px-4 rounded-md flex mr-3">Aceptar</button>
                        <button class="btn text-white bg-green-600 py-2 px-4 rounded-md flex ml-3"
                            onclick="document.getElementById('closeSession').showModal()">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </dialog> <!---->

    <dialog id="feedbackImage" class="modal modal-bottom sm:modal-middle">
        <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/xd/feedback.png" alt=""
            class="w-full max-w-lg max-h-full">
    </dialog> <!---->

    <dialog id="feedbackModal" class="modal modal-bottom sm:modal-middle">
        <div class="relative p-4 w-full max-w-lg max-h-full bg-gray-700">
            <!-- Modal content -->
            <div class="relative bg-gray-50 shadow bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 text-white">
                        Compartir feedback
                    </h3>

                </div>
                <!-- Modal body -->
                <form action="#" class="p-4 md:p-5">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div class="col-span-2">
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 text-white">Nombre</label>
                            <input type="text" name="name" id="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500"
                                placeholder="Nombre de usuario" value="Nombre de usuario" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="description"
                                class="block mb-2 text-sm font-medium text-gray-900 text-white">Feedback</label>
                            <textarea id="description" rows="4"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 bg-gray-600 border-gray-500 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                                placeholder="Queja, chiste o sugerencia"></textarea>
                        </div>
                    </div>

                </form>
                <div class="flex justify-center items-center p-4">
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn text-white bg-red-600 py-2 px-4 rounded-md"
                            onclick="document.getElementById('feedbackImage').showModal()">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </dialog> <!---->

    <div class="inline">

        <!--Sidebar an menu of the page-->
        <aside id="default-sidebar"
            class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
            aria-label="Sidebar">
            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800 dark:bg-gray-800">
                <ul class="space-y-4 font-medium">
                    <li>
                        <a href="/home"
                            class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white hover:bg-gray-700 group">
                            <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/logo.png"
                                alt="">
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="/user_profile" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Perfil de usuario</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/user.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="/shopping_cart" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Carrito de compras</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/shoppingKart.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>
                        <a href="/home#FAQ" class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white 
                        hover:bg-gray-700 group grid grid-cols-2 ml-2">
                            <div class="justify-self-start text-lg text-slate-300">Preguntas frecuentes</div>
                            <div><img
                                    src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/questionMark.png"
                                    style="max-height: 60px;" class="float-right mr-3"></div>
                        </a>
                    </li>
                    <li>

                        <button id="openFeedbackModal"
                            class="flex items-center p-2 text-gray-300 rounded-lg dark:text-white hover:bg-gray-700 group grid grid-cols-2 ml-2 w-full"
                            onclick="document.getElementById('feedbackModal').showModal()">
                            <div class="justify-self-start text-lg text-slate-300">Feedback</div>
                            <div>
                                <img src="https://raw.githubusercontent.com/YANDR0/Proyecto-web/main/assets/sidebar/feedback.png"
                                    style="max-height: 60px;" class="float-right mr-3">
                            </div>
                        </button>

                    </li>
                </ul>
            </div>
        </aside>

        <!--Other things :v-->
        <div class="flex p-4 sm:ml-64 rounded">

            <!-- Profile -->
            <div id="profile" class="w-2/5 bg-slate-400 mr-3 p-7 h-[calc(100vh/1.1)] flex flex-col rounded">
            </div>

            <!-- History -->
            <div id="productEditor"
                class="w-3/5 bg-slate-400 ml-3 px-8 pt-2 rounded h-[calc(100vh/1.1)] flex flex-col space-y-4 overflow-auto">
            </div>

        </div>

</body>
<script src="../scripts/userProfile.js"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</html>